@import './_variables.scss';

.side-panel__container {
  height: 100vh;
  width: auto;
  max-width: 200px;
  color: inherit;
  border-right: $app-palette-medium 1px solid;
  display: flex;
  flex-direction: column;
}

.side-panel__header {
  display: flex;
  justify-content: flex-end;
  padding: .75rem;
}

.side-panel__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.scroll-y {
  overflow-y: auto;
}

.side-panel__header.iconify {
  justify-content: flex-start;
}

.side-panel__action {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.side-panel__action:hover {
  color: $app-palette-primary;
}

.note-page {
  flex: 1;
}
